body
{
    margin: 1rem 1rem 3rem 1rem;
    font-family: sans-serif;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1
{
    color: #555;
}

article#case
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

section#case, section#symptoms, section#conditions
{
    flex: 25%;
}

textarea, input
{
    background-color: #fff;
    border: 2px inset #777;
    display: block;
    width: 92%;
    padding: 0.33rem 0.77rem 0.33rem 0.77rem;
    line-height: 1.5rem;
}

textarea#case_description_form_text
{
    height: 7rem;
}

button
{
    background-color: #eef;
    border: 2px outset #777;
    padding: 0.42rem 1.42rem 0.42rem 1.42rem;
}

h1, h2, h3
{
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 2px;
}

h2, h3
{
    position: relative;
    left: -1rem;
}

h1
{
    font-size: 1rem;
}

section
{
    margin: 0 1rem 0 1rem;
}

footer
{
    margin: 7rem 0 3rem 0;
    font-size: 0.77rem;
    color: #aaa;
    text-align: center;
}

footer p
{
    display: inline;
    margin: 0 1rem 0 1rem;
}

div.symptom_item,
div.condition_item,
div.case_symptom_item,
div.case_test_item,
div.case_condition_item
{
    background-color:#eef;
    margin: 0.13rem;
    padding: 0.77rem;
}

div.symptom_item div,
div.condition_item div
{
    margin: 0.5rem 0 0 0;
}

div.symptom_item_details_tests button
{
    width: 100%;
    text-align: left;
}

div.symptom_item_details,
div.case_symptom_item_details,
div.case_test_item_details,
div.case_condition_item_details
{
    padding: 0.77rem;
}

span.symptom_item_name,
span.condition_item_name,
span.case_symptom_item_name,
span.case_test_item_name,
span.case_condition_item_name
{
    cursor: pointer;
}

div.condition_item_details_presence form,
div.symptom_item_details_presence form
{
    display: inline;
}

span.case_symptom_item_presence,
span.case_condition_item_presence
{
    font-style: italic;
    font-size: 0.77rem;
}